# Terrateam Configuration - Minimal V1
version: "1"

when_modified:
  file_patterns:
    - "terraform/**/*.tf"
    - "terraform/**/*.tfvars"
    - ".terrateam/config.yml"
  autoplan: true

dirs:
  terraform:
    tags:
      - infra
