# Terrateam Configuration
# Replaces manual GitHub Actions for Terraform Plan/Apply
# Provides: PR-based workflow, locking, plan consistency

version: 1

when_modified:
  file_patterns:
    - "terraform/**/*.tf"
    - "terraform/**/*.tfvars"
    - ".terrateam/config.yml"
  autoplan: true

workflows:
  default:
    plan:
      - type: init
        extra_args:
          - "-backend-config=bucket=${{ env.R2_BUCKET }}"
          - "-backend-config=endpoints={s3=\"https://${{ env.R2_ACCOUNT_ID }}.r2.cloudflarestorage.com\"}"
      - type: plan
    apply:
      - type: init
        extra_args:
          - "-backend-config=bucket=${{ env.R2_BUCKET }}"
          - "-backend-config=endpoints={s3=\"https://${{ env.R2_ACCOUNT_ID }}.r2.cloudflarestorage.com\"}"
      - type: apply

env:
  AWS_ACCESS_KEY_ID:
    method: secret
    secret: AWS_ACCESS_KEY_ID
  AWS_SECRET_ACCESS_KEY:
    method: secret
    secret: AWS_SECRET_ACCESS_KEY
  R2_BUCKET:
    method: secret
    secret: R2_BUCKET
  R2_ACCOUNT_ID:
    method: secret
    secret: R2_ACCOUNT_ID
  TF_VAR_vps_host:
    method: secret
    secret: VPS_HOST
  TF_VAR_ssh_private_key:
    method: secret
    secret: VPS_SSH_KEY
  TF_VAR_ssh_port:
    method: secret
    secret: VPS_SSH_PORT
  TF_VAR_cluster_name:
    method: secret
    secret: K3S_CLUSTER_NAME
  TF_VAR_api_endpoint:
    method: secret
    secret: K3S_API_ENDPOINT
  TF_VAR_k3s_channel:
    method: secret
    secret: K3S_CHANNEL
  TF_VAR_k3s_version:
    method: secret
    secret: K3S_VERSION
  TF_VAR_infisical_postgres_password:
    method: secret
    secret: INFISICAL_POSTGRES_PASSWORD

dirs:
  terraform:
    workflow: default

