name: Check (Format & Validate)

on:
  workflow_call:

jobs:
  check:
    name: Format & Validate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.10.3
          terraform_wrapper: false
      
      - name: Install Terragrunt
        run: |
          TERRAGRUNT_VERSION="0.68.4"
          wget -q -O /usr/local/bin/terragrunt \
            "https://github.com/gruntwork-io/terragrunt/releases/download/v${TERRAGRUNT_VERSION}/terragrunt_linux_amd64"
          chmod +x /usr/local/bin/terragrunt
          terragrunt --version
      
      - name: Terraform Format Check
        run: terraform fmt -check -recursive
      
      - name: Terragrunt Validate (Platform)
        working-directory: platform
        run: terragrunt validate --terragrunt-non-interactive
      
      - name: Terragrunt Validate (Data Staging)
        working-directory: envs/staging/data
        run: terragrunt validate --terragrunt-non-interactive
      
      - name: Terragrunt Validate (Data Prod)
        working-directory: envs/prod/data
        run: terragrunt validate --terragrunt-non-interactive
