name: Post-Merge Verification

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read
  issues: write

env:
  TF_IN_AUTOMATION: "true"
  TF_INPUT: "false"

jobs:
  find-merged-pr:
    runs-on: ubuntu-latest
    steps:
      - run: echo "It works"
